[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**"],
                filter => "*.erl",
                ruleset => erl_files_strict,
                rules => [
                    {elvis_style, module_naming_convention, #{
                        regex => "^gaffer"
                    }},
                    {elvis_style, private_data_types, disable},
                    {elvis_style, no_invalid_dynamic_calls, #{
                        ignore => [gaffer, gaffer_queue]
                    }},
                    {elvis_style, state_record_and_type, #{
                        ignore => [gaffer_queue_runner]
                    }},
                    {elvis_style, no_common_caveats_call, #{
                        ignore => [gaffer_queue_runner]
                    }}
                ]
            },
            #{
                dirs => ["test/**"],
                filter => "*.erl",
                ruleset => erl_files_strict,
                rules => [
                    {elvis_style, no_macros, disable},
                    {elvis_style, module_naming_convention, #{
                        regex => "^gaffer"
                    }},
                    {elvis_style, private_data_types, disable},
                    {elvis_style, no_common_caveats_call, #{
                        ignore => [gaffer_tests]
                    }},
                    {elvis_style, dont_repeat_yourself, #{
                        ignore => [gaffer_queue_tests]
                    }},
                    {elvis_style, export_used_types, disable}
                ]
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => ".gitignore",
                ruleset => gitignore
            }
        ]}
    ]}
].
