[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**", "test/**"],
                filter => "*.erl",
                ruleset => erl_files_strict,
                rules => [
                    {elvis_style, no_macros, disable},
                    {elvis_style, module_naming_convention, #{
                        regex => "^gaffer"
                    }}
                ]
            },
            #{
                dirs => ["."],
                filter => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs => ["."],
                filter => ".gitignore",
                ruleset => gitignore
            }
        ]}
    ]}
].
